*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Playfair;
    font-weight: normal;
    font-style: normal;
    src: url(../assets/Fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: Playfair;
    font-weight: 600;
    src: url(../assets/Fonts/PlayfairDisplay-SemiBold.ttf);
}

html {
    scroll-behavior: smooth; 
  }

.container-fluid {
    background-color: black;
    width: 100%;
}

.container {
    max-width: 1440px;
    width: 1000px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    min-height: 100vh;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Playfair";
    width: 100%;
    font-size: 16px;
}

header > .container {
    padding: 40px 20px;
}

header .container .nav a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 230, 5);
    margin: 0  20px;
}

header .container .nav a:hover {
    color: rgb(255, 0, 0);
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 5px solid;
}

footer {
    background-color:black;
    padding-top: 50px;
    padding-bottom: 20px;
}

footer .container .left a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 230, 5);
}

footer .container .left a:hover {
    color:rgb(255, 0, 0);
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 5px solid;
}

footer .container .left {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 230, 5);
    margin-left: 10px;
}

h1 {
    color: rgb(255, 230, 5);
    text-align: center;
    margin-bottom: 45px;
}

h2 {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 230, 5);
    margin-left: 10px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
  }

.section-item {
    display: block;
    color: rgb(255, 230, 5);
}

main {
    background-image: url(/assets/img/bg.jpg);
    min-height: 800px;
    width: auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

p {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 230, 5);
    margin-left: 10px;
    justify-content: space-around;
    align-items: center;
}

main .main-container a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 230, 5);
}

main .main-container a:hover {
    color:rgb(255, 0, 0);
    font-weight: normal;
    text-decoration: none;
}